<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- <link href="//cdn.bootcss.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" rel="stylesheet"> -->
</head>

<body>
	
	<h1>----Signin page----</h1>
	<div class='col-md-6 col-md-offset-6'>
	<form id='signin_form' class='form-horizontal' action='#' method='post'>
			<div class='input-group'>
				<span class='input-group-addon'>name</span>
				<input type='text' class='form-control' palceholder='leisan' name='name' id='name'></input>
			</div>

			<div class='input-group'>
				<span class='input-group-addon'>pass</span>
				<input type='password' class='form-control' palceholder='password' name='pass' id='name'></input>
			</div>

			<div class='input-group'>
				<span class='input-group-addon'>email</span>
				<input type='text' class='form-control' palceholder='password' name='email' id='email'></input>
			</div>

			<div class='form-actions'>
			<button type='submit' class='btn btn-primary' action='/signin'>login</button></div>
	</form>
	</div>
</body>


</html>