<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head></head>

<body>
	<h1>PPPPPPPost a article</h1>
	<div>
			<form id='post_form' method='post'>
				<div>
				<sapn>Title</span>
				<input type='text' id='title' name='title'></input>
				</div>

				<div>
				<span>content</span>
				<textarea rows='3' cols='20' id='content' name='content'></textarea>
				</div>

				<button type='submit' action='/post'>posttttt</button>
			</form>
	</div>
</body>

</html>