<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>xdcoder</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/stylesheets/mui.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
</head>
<body>

	<header id="header" class="header-shadow">
		<nav id="appbar" class="mui-container-fluid">
			<div class="mui-container">
			<table width="100%">
					<tbody>
						<tr class="mui--appbar-height">
							<td>
								<span><a class="appbar-brand" href="#">西电码农</a></span>
								<a class="appbar-brand" href="#">BBS</a>
								<a class="appbar-brand" href="#">Vue</a>
								<a class="appbar-brand" href="#">Swift</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</nav>
	</header>
	<div class="mui-container">
	<div class="mui-row">
	<div class="sep74"></div>
	<%- body -%>
	</div>
	</div>
	<footer>
		<div class="footer">
			<p>2016copyright@<a href="Https://github.com/iChenLei">cheneli</a></p>
		</div>
	</footer>
	<script type="text/javascript" src="/javascripts/check.js"></script>
</body>
</html>