<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>xdcoder</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.min.css">
	<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
</head>
<body>

	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<a class="navbar-brand" href="#">Xidian Coder</a>
			<button class="btn btn-primary">登录</button>
		</div>
		
	</nav>
	
</body>
</html>