<div class="mui-panel mui-col-md-8">
	<form>
		<div class="mui-textfield">
			<input type="text" name="email" placeholder="email">
		</div>
		<div class="mui-textfield">
			<input type="password" name="password" placeholder="password">
		</div>
		<button type="submit" class="mui-btn mui-btn--primary sign">Sign</button>
	</form>
</div>
<div class="mui-panel mui-col-md-3 mui-col-md-offset-1">
	<p>You need sign or login!</p>
	<button class="mui-btn mui-btn--primary">SIGN</button>
	<button class="mui-btn mui-btn--primary">LOGIN</button>
</div>