<!DOCTYPE html>
<html>
	<head>
		<title>beileicun....</title>
		<meta name="keywords" content="xidianer's web home...">
		<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	</head>
	<body>
	<nav class="navbar navbar-default" role="navgation">
		<div class="container">
		<div class="navbar-header">
		<a class="navbar-brand" href="#">Beileicun</a>

		<ul class="nav navbar-nav">
			<li><a href="#">Home</a></li>
			<li><a href="#">Pt</a></li>
			<li><a href="#">Hire</a></li>
			<li><a href="#">Anonymous</a></li>
		</ul>
		</div>
		<ul class="nav navbar-nav navbar-right"> 
            <li><a href="#">注册</a></li> 
            <li><a href="#">登录</a></li> 
        </ul>
		
		</div>
	</nav>
<!-- 	<div class="container">
	<div class="jumbotron">
  		<h1>welcome to beileicun</h1>
  			<p>...</p>
 		 <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
		</div>
	<div> -->
		<div class="container">
	
	<!-- <div class="col-md-8">
		<div>
			<h1>how to build a beautiful page?</h1>
		<div>
	</div> -->
	<div class="col-md-4 col-md-offset-8">
		<div class="panel panel-warning">
			 <div class="panel-heading">Panel heading without title</div>
  			<div class="panel-body">
  				<p>Hello,everybody.</p><br>
  				<p>This is page test..</p><br>
  				<p>Dose it look beautiful?</p><br>
  			</div>
		</div>
		</div>

	</div>

	</body>
</html>