#header{
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
	background-color: #1976D2;
	position: fixed;
	right: 0;
	left: 0;
}

a.appbar-brand{
	color: #fff;
	font-size: 20px;
	padding-right: 5px;
	padding-left: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
}

a:hover{
	background-color: #55ADFD;
}



body{
	background-color: #D7D4D2;
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
}

div.footer{
	text-align: center;
	width: 100%;
}

div.sep74{
	width:100%;
	height: 74px;
}

button.sign{
	float: right;
}


@media screen and (max-width: 400px){
	a.appbar-brand{
		font-size: 15px;
	}
}